<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TJFSTR</title>
    <link rel="stylesheet"  type='text/css' href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
    <body>
        <section>
            <div class='ui stackable four column grid container small medium large' id='container'>
                <div class='column'>
                    <a href="https://github.com/tjfstr"><i class="fab fa-github-alt"></i></a>
                    <p>Github</p>
                </div>
                <div class='column'>
                    <a href='https://twitter.com/tjisyourhero'><i class="fab fa-twitter"></i></a>
                    <p>Twitter</p>
                </div>
                <div class='column'>
                    <a href='https://www.instagram.com/tjisyourhero'><i class="fab fa-instagram"></i></a>
                    <p>Instagram</p>
                </div>
            </div>
        </section>

    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </body>
</html>