body {
    background: #E6DADA !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #274046, #E6DADA) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #274046, #E6DADA) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

section {
    height: 90vh;
    color: #fffafa;
}

i {
    justify-content: center;
    font-size: 4em;
    color: #fffafa;
}

#container{
    max-width: 700px;
    margin: auto;
    height: 50vh;
    display: flex;
    padding-top: 40vh;
    padding-left: 30vh;
    padding-bottom: 40vh;
    justify-content: center;
    
}